@font-face {
    font-family: "Bauhaus 93";
    font-style: normal;
    src: url("../fonts/BAUHS93.ttf");
}

{
    -fx-base:#04091a;
}
.scoreBoardBackground {
    -fx-background-image: url("../PNG/backgrounds/scoreBoardBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

.vboxDesign {
    -fx-alignment: center;

}

.buttonText {
    -fx-font-family: "Bauhaus 93";;
    -fx-font-size: 23px;
}

.titleText {
    -fx-font-family: "Bauhaus 93";;
    -fx-font-size: 50px;
}

.simpleText {
    -fx-font-family: "Bauhaus 93";;
    -fx-font-size: 17px;
}

.mainTitleText {
    -fx-font-family: "Bauhaus 93";;
    -fx-font-size: 80px;
    -fx-background-color: #ccdefc;
}

.buttonHover:hover {
    -fx-font-size: 26px;

    -fx-background-color: #62d9ec;
}

.buttonShape {
    -fx-shape: "M 1000 300 L 1000 300 Q 550 250 50 300 Q 0 400 50 500 Q 500 550 1000 500 Q 1050 400 1000 300 ";
    -fx-background-color: #0e1b77;
}

.background {

}
